* {
    margin: 0;
    padding: 0;
}
header{
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* nav css  */
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
}
.nav-logo{
    font-size: 30px;
    color: #4E47FF;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}
.primary-btn{
    padding: 10px 25px;
    font-weight: 600;
    color: white;
    background-color: #4E47FF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'raleway';
    font-size: 18px;
}
.primary-btn:hover{
    background-color: rgb(173, 100, 241);
}
/* banner css  */
.banner-heading{
    font-family: 'raleway' ;
    font-size: 60px;
    text-align: center;
    width: 905px;
    margin: 0 auto;
    padding: 8% 0 0 0;
}
.btn-center{
display: flex;
justify-content: center;
padding: 40px 0px;
padding-bottom: 10%;
}
/* action section css  */
main{
    background-color: #f5f8ff;
}
.action{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 7% 0;
    align-items: center;
    
}
.action-info{
    font-family: 'raleway';
    width: 517px;
}
.action-info h3{
    font-size: 42px;
    font-weight: bold;
}
.action-info h4{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.6);
    font-weight: 300;
    margin: 20px 0;
}
.action img{
    border-radius: 30px;
}
/* Productive user section css  */
.user-heading {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    font-family: 'raleway';
}
.user{
   background-color: rgba(78, 71, 255, 0.1);
   max-width: 1100px;
   margin: 20px auto;
   padding: 60px 40px;
   border-radius: 30px;

}
.user-flex{
    display: flex;
    justify-content: center;
    gap: 15%;
    margin-top: 30px;
}
.user-data{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    font-family: 'Inter';
}
.user-subtitle{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
}
/* feedback css  */
.feedback{
   margin-top: 6%;
}
.card{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 2% auto;
}
.card-body{
    width: 340px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    font-family: sans-serif;
}
.user-img-flex{
    display: flex;
    gap: 20px;
    align-items: center;
}
.card-img{
    border-radius: 50px;
}
.card-heading{
    font-size: 24px;
    margin: 20px 0 10px;
}
.card-body p{
    margin-bottom: 10px;
    font-size: 16px;
}
.card-body h4{
    color: rgba(37, 36, 50, 0.5);
    font-size: 14px;
    font-weight: 600;
}
.card-body h5{
    color: rgba(37, 36, 50, 0.3); 
}
/* form css  */
.form-flex{
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    margin: 7% auto;
    padding-bottom: 5%;
    align-items: center;
}
.form-flex h1{
    font-size: 90px;
    font-weight: bold;
    font-family: 'raleway';
    width: 528px;
}
.form-1{
    padding: 20px 0 20px 20px ;
    width: 477px;
    font-size: 20px;
    margin: 15px 0 20px ;
    border-radius: 10px;
    border: 1px solid rgb(231, 226, 226);
}
.form-2{
    padding: 20px 0 70px 20px ;
    width: 477px;
    font-size: 20px;
    margin: 15px 0 20px ;
    border-radius: 10px;
    border: 1px solid rgb(231, 226, 226);
}
.form label{
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 500;
   
}
.form-btn{
    width: 497px;
    padding: 17px 0;
}
/* footer css  */
footer{
    background-color: white;
    text-align: center;
  
}
footer div{
    width: 531px;
    margin: 0px auto;
}
footer h3{
    font-size: 80px;
    color: #4E47FF;
    font-family: 'Inter';
    font-weight: 800;
}
footer p{
    color: rgba(37, 36, 50, 0.7);
    margin: 15px 0;
}
ul{
    display: flex;
    gap: 10%
;
justify-content: center;
}
ul li {
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: rgba(37, 36, 50, 0.7);
}