* {
    margin: 0;
    padding: 0;
}
header{
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* nav css  */
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
}
.nav-logo{
    font-size: 30px;
    color: #4E47FF;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}
.primary-btn{
    padding: 10px 25px;
    font-weight: 600;
    color: white;
    background-color: #4E47FF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'raleway';
    font-size: 18px;
}
.primary-btn:hover{
    background-color: rgb(173, 100, 241);
}
/* banner css  */
.banner-heading{
    font-family: 'raleway' ;
    font-size: 60px;
    text-align: center;
    width: 905px;
    margin: 0 auto;
    padding: 8% 0 0 0;
}
.btn-center{
display: flex;
justify-content: center;
padding: 40px 0px;
padding-bottom: 10%;
}
/* action section css  */
main{
    background-color: #f5f8ff;
}
.action{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 7% 0;
    align-items: center;
    
}
.action-info{
    font-family: 'raleway';
    width: 517px;
}
.action-info h3{
    font-size: 42px;
    font-weight: bold;
}
.action-info h4{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.6);
    font-weight: 300;
    margin: 20px 0;
}
.action img{
    border-radius: 30px;
}
/* Productive user section css  */
.user-heading {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    font-family: 'raleway';
}
.user{
   background-color: rgba(78, 71, 255, 0.1);
   max-width: 1100px;
   margin: 0 auto;
   padding: 60px 40px;
   border-radius: 30px;

}
.user-flex{
    display: flex;
    justify-content: center;
    gap: 15%;
    margin-top: 30px;
}
.user-data{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    font-family: 'Inter';
}
.user-subtitle{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
}